<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments::head}">
    <title id="titlePage">Editar</title>
    <script id="personalScript">
    </script>
</head>

<body>
    <header th:replace="~{fragments::header}"></header>
    <section class="container">
        <form action="" method="post" id="form" class="form my-5  mx-auto">
            <h1 class="col-12 text-center mt-5 px-2">Editar Usuario</h1>
            <div class="row justify-content-center">
                <h2 class="col-12 text-center mt-5 px-2">Dados pessoais</h2>
                <div class="col-10 form-floating mt-3">
                    <input th:value="${aluno.nome}" type="text" name="nome" id="nome" class="form-control"
                        placeholder="none">
                    <label for="nome" class="form-label">Nome:</label>
                </div>
                <div class="col-10 form-floating mt-3">
                    <input th:value="${aluno.email}" type="email" name="email" id="email" class="form-control"
                        placeholder="none">
                    <label for="email" class="form-label">Email:</label>
                </div>
            </div>

            <div class="row justify-content-center my-5" id="dadosAluno">
                <div class="col-5 form-floating mt-3">
                    <input th:value="${aluno.cpf}" type="text" name="cpf" id="cpf" class="form-control"
                        placeholder="none">
                    <label for="cpf" class="form-label">CPF:</label>
                </div>
                <div class="col-5 form-floating mt-3">
                    <input th:value="${aluno.rg}" type="text" name="rg" id="rg" class="form-control" placeholder="none">
                    <label for="rg" class="form-label">RG:</label>
                </div>
            </div>

            <div class="row justify-content-center my-5">
                <h2 class="col-12 text-center">Endereço</h2>
                <div class="col-5 form-floating mt-3">
                    <input th:value="${end.rua}" type="text" name="rua" id="rua" class="form-control"
                        placeholder="none">
                    <label for="rua" class="form-label">Rua:</label>
                </div>
                <div class="col-5 form-floating mt-3">
                    <input th:value="${end.bairro}" type="text" name="bairro" id="bairro" class="form-control"
                        placeholder="none">
                    <label for="bairro" class="form-label">Bairro:</label>
                </div>
                <div class="col-5 form-floating mt-3">
                    <input th:value="${end.cep}" type="text" name="cep" id="cep" class="form-control"
                        placeholder="none">
                    <label for="cep" class="form-label">CEP:</label>
                </div>
                <div class="col-5 form-floating mt-3">
                    <input th:value="${end.numero}" type="number" name="numero" id="numero" class="form-control"
                        placeholder="none">
                    <label for="numero" class="form-label">Número:</label>
                </div>
            </div>

            <div class="row justify-content-center">
                <button type="submit" class="col-5 my-3 btn btn-primary h-100">Editar</button>
            </div>
            <div class="row justify-content-center">
                <button onclick="history.back()" type="button" class="col-5 my-3 btn btn-primary h-100">Cancelar</button>
            </div>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>